<div class="col-sm-offset-1 col-sm-10">
    {{#error}}
     <p class="alert alert-danger">{{error}}</p>
    {{/error}}
    {{^ error}}
     <p class="alert alert-success">GMO {{#update}}Updated{{/update}}{{^update}}Added{{/update}} Successfully</p>
    {{/ error }}
</div>


<div class="col-sm-offset-1 col-sm-10">
<p>
Name: <b>{{gmo.name}}</b> - Type: {{gmo.type}}<br>
Scientific Name: <i>{{gmo.sci_name}}</i><br><br>
Description:<br>
{{gmo.description}}
</p>
</div>