  <!-- gmo_form.mustache -->
  <!--This portion displays the GMO Submit box. -->
        <div class="col-sm-offset-1 col-sm-10">
            <h3>{{#gmo}}Edit{{/gmo}}{{^gmo}}Add New{{/gmo}} GMO</h3>
            <hr>
            <form method="post" action="{{#gmo}}update_gmo.php{{/gmo}}{{^gmo}}addgmo.php{{/gmo}}" class="form">
            {{#gmo}}<input type="hidden" name="id" value="{{id}}">{{/gmo}}

              <div class="form-group"> 
                <label for="input_man">Manufacturer</label>
                <select class="form-control" name="m_id">
                {{#man}}
                <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/man}}
                </select>
              </div>
              <div class="form-group">
                <label for="input_name">Name:</label>
                <input type="text" name="name" class="form-control" id="input_name" placeholder="Name" required {{#gmo}}value="{{name}}"{{/gmo}}>
              </div>
              <div class="form-group">
                <label for="input_sname">Scientific Name:</label>
                <input type="text" name="sci_name" class="form-control" id="input_sname" placeholder="Scientific Name" required {{#gmo}}value="{{sci_name}}"{{/gmo}}>
              </div>
              <div class="form-group">
                <label for="input_type">Type:</label>
                <input type="text" name="type" class="form-control" id="input_type" placeholder="Type" required {{#gmo}}value="{{type}}"{{/gmo}}>
              </div>
              <div class="form-group">
                <label for="input_desc">Description:</label>
                <textarea name="desc" id="input_desc" class="form-control" placeholder="Description">{{#gmo}}{{description}}{{/gmo}}</textarea>
              </div>
              {{#gmo}}
              <div class="form-group">
                <label for="input_active">Active:</label>
                <div class="radio">
                <label>
                  <input type="radio" name="active" id="active1" value="1" {{#active}}checked{{/active}}>
                  Active
                </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="active" id="active2" value="0" {{^active}}checked{{/active}}>
                    Inactive
                  </label>
                </div>
              </div>
              {{/gmo}}
              
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
      
      
      <!-- /gmo_form.mustache -->