  <!--This portion displays the GMO Submit box. -->
        <div class="col-sm-offset-1 col-sm-10">
          <form method="post" action="edit_gmo.php">
           <fieldset>
              <legend>Edit GMO Information</legend> 
              <label>GMO Info</label>
              <div class="form-group">
                <select name="gmo_id">
                  {{#gmo}}
                  <option value="{{id}}">{{name}} {{sci_name}}</option>
                  {{/gmo}}
                </select>
              </div>
              <button type="submit" class="btn btn-default">Edit</button>
            </fieldset>
          </form>
        </div>
