      <ul class="nav navbar-nav"> 
        <li><a href="index.php">Home</a></li>
        <li><a href="newgmo.php">Add New GMO</a></li>
        <li><a href="info_form.php">Request GMO Info</a></li>
        <li><a href="modify.php">Modify GMO</a></li>
        <li><a href="newman.php">Add Manufacturer</a></li>
      </ul>