<html>
    <head>
        <title>{{title}}</title>
        <!--Putting in CSS link, but I don't think we need it here. -->
        <link rel="stylesheet" type="text/css" href="/cs361-food/views/style.css">
    </head>
    
    <body>
        <h1>Templates... woot</h1>
        
        {{body}}
    </body>
    
</html>